<div class="masthead">
    <nav class="language-nav">
        <ul>
            <li class="first-lineitem">CSS</li> 
            <li>HTML</li> 
            <li>Javascript</li> 
            <li>Ruby</li>
    </ul>
    </nav>

<img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">

    <nav class="masthead-links">
    <ul>
    <li>
            <time>Tuesday, October 18, 2016</time>
      </li>
      <li>
            <i class="far fa-newspaper"></i>
            <a>Today’s Paper</a> 
    </li>
    <li>
            <i class="fas fa-video"></i>
            <button>Video</button> 
        </li>
        <li>
            <time>77°F<time>
        </li>
        <li>    
            <i>AAO<strong>+100%</strong></i>
        </li>
    </ul>
    </nav>

</div>